div#mainContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    
}

body{
    background-image: url('5183000.jpg');
    background-size: cover;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}